FILIN_BACKEND_PORT=8000
FILIN_KIBANA_PORT=5601
FILIN_TARGET_WEB_PORT=127.0.0.1:18080
FILIN_TARGET_API_PORT=127.0.0.1:18081
FILIN_ELASTICSEARCH_HOST=elasticsearch
FILIN_ELASTICSEARCH_PORT=9200
FILIN_LAB_NET=filin_lab_net
FILIN_MONITOR_NET=filin_monitor_net
FILIN_MGMT_NET=filin_mgmt_net
FILIN_SCENARIO_MODE=dry-run
FILIN_ALLOWED_TARGETS=target-web,target-api,control-api
FILIN_DEFAULT_DURATION_SECONDS=60
FILIN_DEFAULT_MAX_RATE=5/min
